<template>
  <v-row>
    <v-col v-if="!removeSuccess" cols="4" offset="4">
      <p class="text-h2">
        Редактировать "{{ thisAd.title }}"
      </p>
      <v-form>
        <v-text-field
          v-model="thisAd.title"
          label="Title"
          required
        />

        <v-text-field
          v-model="thisAd.description"
          label="Description"
          required
        />

        <v-text-field
          v-model="thisAd.price"
          label="Price"
          required
        />

        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template #activator="{ on, attrs }">
            <v-text-field
              v-model="thisAd.date"
              label="Picker without buttons"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="thisAd.date"
            @input="menu = false"
          />
        </v-menu>

        <v-btn
          color="success"
          class="mr-4"
          @click="save"
        >
          Сохранить
        </v-btn>
        <v-btn
          color="error"
          class="mr-4"
          @click="remove"
        >
          Удалить
        </v-btn>
      </v-form>
    </v-col>
    <v-col v-else cols="4" offset="4">
      <p class="text-h1">
        Пасеба
      </p>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import {
  State,
  Mutation
} from 'vuex-class'
import { ad } from '@/types/index'

@Component
export default class User extends Vue {
  removeSuccess = false
  menu = false
  thisAd:ad = {
    id: 0,
    title: '',
    price: 0,
    date: '',
    description: ''
  }

  @State ads!: Array<ad>
  @Mutation removeAd: any
  @Mutation saveAd: any

  get idAd () {
    return +this.$route.params.id
  }

  get ad () {
    return this.ads.filter((item:ad) => item.id === this.idAd)[0]
  }

  save () {
    this.saveAd(this.thisAd)
    this.removeSuccess = true
  }

  remove () {
    this.removeAd(this.idAd)
    this.removeSuccess = true
  }

  mounted () {
    this.thisAd = {
      ...this.ad
    }
  }
}
</script>
