<template>
  <v-row>
    <v-col v-if="!removeSuccess" cols="4" offset="4">
      <p class="text-h2">
        {{ thisAd.title }}
      </p>
      <p class="text-h5">
        Описание: {{ thisAd.description }}
      </p>
      <p class="text-h5">
        Цена: {{ thisAd.price }}
      </p>
      <p class="text-h5 mb-10">
        Дата: {{ thisAd.date }}
      </p>

      <p v-if="!userData.authorized" class="body-1">
        Для покупки необходимо авторизоваться
      </p>
      <p v-if="!isAvailable" class="body-1">
        Недостаточно средств
      </p>
      <p v-else class="body-1">
        У вас на счету {{ userData.money }}
      </p>
      <v-btn
        color="success"
        class="mr-4"
        :disabled="!userData.authorized || !isAvailable"
        @click="buy"
      >
        Купить
      </v-btn>
    </v-col>
    <v-col v-else cols="4" offset="4">
      <p class="text-h1">
        Пасеба
      </p>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import {
  State,
  Mutation
} from 'vuex-class'
import { ad, user } from '@/types/index'

@Component
export default class User extends Vue {
  removeSuccess = false
  menu = false
  thisAd:ad = {
    id: 0,
    title: '',
    price: 0,
    date: '',
    description: ''
  }

  @State('user') userData!: user
  @Mutation removeAd: any
  @Mutation saveAd: any
  @Mutation updateMoney: any

  get idAd () {
    return +this.$route.params.id
  }

  get ad () {
    return this.$store.state.ads.filter((item:ad) => item.id === this.idAd)[0]
  }

  get isAvailable () {
    return this.userData.money > this.thisAd.price
  }

  buy () {
    const money = this.userData.money - this.thisAd.price
    this.updateMoney(money)
    this.removeAd(this.idAd)
    this.removeSuccess = true
  }

  remove () {
    this.removeAd(this.idAd)
    this.removeSuccess = true
  }

  mounted () {
    this.thisAd = {
      ...this.ad
    }
  }
}
</script>
