<template>
  <v-card
    outlined
  >
    <v-list-item
      three-line
    >
      <v-list-item-content>
        <v-list-item-title class="text-h5 mb-1">
          {{ ad.title }}
        </v-list-item-title>
        <v-list-item-title class="text-h5 mb-1">
          {{ ad.price }}
        </v-list-item-title>
        <v-list-item-subtitle>{{ ad.description }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

    <v-card-actions>
      <v-btn
        outlined
        rounded
        text
        :to="'/item/'+ad.id"
      >
        Изменить
      </v-btn>
      <v-btn
        outlined
        rounded
        text
        :to="'/buy/'+ad.id"
      >
        Купить
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component
export default class Card extends Vue {
  @Prop({ type: Object, required: true })
  ad: any;
}
</script>
