<template>
  <v-app>
    <v-app-bar
      fixed
      app
      class="px-10"
    >
      <v-spacer />
      <v-btn to="/">
        Все объявления
      </v-btn>
      <v-btn to="/add">
        Добавить объявление
      </v-btn>
      <v-spacer />
      <nuxt-link to="/user" class="name">
        <span class="body-1">
          {{ name }}
        </span>
        <v-btn icon>
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </nuxt-link>
    </v-app-bar>
    <v-main>
      <v-container class="pt-10">
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component
export default class Default extends Vue {
  get name () {
    return this.$store.state.user.name
  }
}
</script>

<style scoped>
.name {
  text-decoration: none;
  color: #fff;
}
</style>
