<template>
  <v-row>
    <v-col v-if="!success" cols="4" offset="4">
      <p class="text-h2">
        Добавить объявление
      </p>
      <v-text-field
        v-model="title"
        label="Title"
        required
      />
      <v-text-field
        v-model="description"
        label="Description"
        required
      />

      <v-text-field
        v-model="price"
        label="Price"
        type="number"
        required
      />

      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template #activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Picker without buttons"
            prepend-icon="mdi-calendar"
            readonly
            v-bind="attrs"
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="date"
          @input="menu = false"
        />
      </v-menu>

      <v-btn
        color="success"
        class="mr-4"
        @click="submit"
      >
        Добавить
      </v-btn>
    </v-col>
    <v-col v-else cols="4" offset="4">
      <p class="text-h1">
        Пасеба
      </p>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import {
  Mutation
} from 'vuex-class'

@Component
export default class Add extends Vue {
  menu = false
  title = ''
  description = ''
  price!:number
  date = ''
  success = false

  @Mutation addAds:any

  submit () {
    const dateId = new Date()
    this.addAds({
      id: +dateId,
      title: this.title,
      price: this.price,
      date: this.date,
      description: this.description
    })
    this.success = true
  }
}

</script>
