<template>
  <div>
    <p class="text-h2 text-center mb-8">
      Список объявлений
    </p>
    <v-row align="center">
      <v-col
        v-for="(ad,i) in ads"
        :key="i"
        cols="3"
      >
        <Card :ad="ad" />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import {
  State
} from 'vuex-class'
import { ad } from '@/types/index'

@Component
export default class Index extends Vue {
  @State ads!: Array<ad>
}
</script>
