<template>
  <v-row>
    <v-col v-if="!success" cols="4" offset="4">
      <p class="text-h2">
        Данные пользователя
      </p>
      <v-text-field
        v-model="user.name"
        label="Name"
        required
      />

      <v-text-field
        v-model="user.money"
        label="The rest of money"
        type="number"
        required
      />

      <v-checkbox
        v-model="user.authorized"
        label="Authorized"
      />

      <v-btn
        color="success"
        class="mr-4"
        @click="submit"
      >
        Добавить
      </v-btn>
    </v-col>
    <v-col v-else cols="4" offset="4">
      <p class="text-h1">
        Пасеба
      </p>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import {
  State,
  Mutation
} from 'vuex-class'
import { user } from '@/types/index'

@Component
export default class User extends Vue {
  menu = false
  success = false
  user:user = {
    name: '',
    money: 0,
    authorized: false
  }

  @Mutation editUser:any
  @State('user') userData!: user

  submit () {
    this.editUser({
      name: this.user.name,
      money: this.user.money,
      authorized: this.user.authorized
    })
    this.success = true
  }

  mounted () {
    this.user = {
      ...this.userData
    }
  }
}
</script>
